#root {
  height: 100%;
}

.app-containter {
  background: linear-gradient(45deg, #3e5151, #decba4);
  height: 100%;
  min-width: 100%;
}

.Calculator {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 300px;
  margin: 0 auto;
  border-radius: 3px;
}